@model CodelessPlate.Models.DummyModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CodelessPlate</title>
    <script src="~/Scripts/DummyScript.js"></script>
    <script src="~/Scripts/StringFormat.js"></script>
</head>

<body>
    <p>
        Hello CodelessPlate!
    </p>
    <p>
        @Model.Description
    </p>
</body>
</html>